project/GD.SPREST.JSLink/node_modules
project/GD.SPREST.JSLink/.vs
project/GD.SPREST.JSLink/bin
project/GD.SPREST.JSLink/obj
project/GD.SPREST.JSLink/packages
project/GD.SPREST.JSLink/pkg
project/GD.SPREST.JSLink/pkgobj